DEBUG=1
SECRET_KEY=2432432432432432432
POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DATABASE=postgresdb
POSTGRES_USER=drfuser
POSTGRES_PASSWORD=drfpassword
POSTGRES_HOST=prostgresdrf
POSTGRES_PORT=5432